*{
    background: #F3F5Fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 15px;
    margin-left: 12px;
    width: 7%;
}

main{
    display: flex;
    margin-bottom: 45px;
    margin-left: 60px;
}

.text-area{
    border: none;
    color: #0a3871;
    margin-top: 80px;
    text-transform: lowercase;
}

::placeholder {color: #0a3871;}
    .text-area:focus{
        outline: none;
    }

.mensaje{
    background: white;
    background-image: url("buscando.jpg");
    width: 100%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 90px;
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
}
.mensaje:focus {
    outline: none;
}
.botones{
    display: flex;
    margin-top: 15px;
}
.btn-encriptar{
    background: #0c71de;
    border: 1px solid #0a3871;
    border-radius: 30px;
    color: black;
    cursor:pointer;
    height: 50px;
    margin-left: 25px;
    width: 300px;
}
.btn-desencriptar{
    background: #022622;
    border: 1px solid #2f15d7;
    border-radius: 30px;
    color: white;
    cursor:pointer;
    height: 50px;
    margin-left: 25px;
    width: 300px;
}
.copiar{
    background: rgb(255, 99, 99);
    border: 1px solid black;
    border-radius: 40px;
    color: rgb(243, 216, 11);
    cursor:pointer;
    height: 50px;
    margin-left: 25px;
    width: 200px;
}

/*Aqui inicia el CSS*/

@media screen and (max-width:480px){

    }
    .logo, .main, .mensaje:focus {
        align-content: center;
        padding: 1em;
        width: auto;
    }
    .btn-encriptar, .btn-desencriptar, .btn-copiar{
        width: auto;
    }
    .mensaje {
        position: relative;
        width: auto;
}